{% extends "core/base.jinja" %}

{% block title %}
    {% trans %}Eboutic{% endtrans %}
{% endblock %}

{% block jquery_css %}
    {#  Remove jquery css  #}
{% endblock %}

{% block additional_js %}
    {# This script contains the code to perform requests to manipulate the
    user basket without having to reload the page #}
    <script src="{{ static('eboutic/js/eboutic.js') }}"></script>
    <script src="{{ static("core/js/alpinejs.min.js") }}" defer></script>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ static('eboutic/css/eboutic.css') }}">
{% endblock %}

{% block content %}
    <h1>{% trans %}Eboutic{% endtrans %}</h1>
    <div id="eboutic" x-data="basket">
        <div id="basket">
            <div class="box-header"><h3>Panier</h3></div>
            <ul class="item-list">
                {# Starting money #}
                <li style="margin-bottom: 20px">
                    <span class="item-name">
                        <strong>{% trans %}Current account amount: {% endtrans %}</strong>
                    </span>
                    <span class="item-price">
                        <strong>{{ "%0.2f"|format(customer_amount) }} €</strong>
                    </span>
                </li>
                <template x-for="item in items">
                    <li class="item-row" x-show="item.quantity > 0">
                        <span class="item-name" x-text="item.name"></span>
                        <div class="item-quantity">
                            <i class="fa fa-minus" @click="remove(item)"></i>
                            <span x-text="item.quantity"></span>
                            <i class="fa fa-plus" @click="add(item)"></i>
                        </div>
                        <span class="item-price" x-text="(item.unit_price * item.quantity).toFixed(2) + ' €'"></span>
                    </li>
                </template>
                {# Total price #}
                <li style="margin-top: 20px">
                    <span class="item-name"><strong>{% trans %}Basket amount: {% endtrans %}</strong></span>
                    <span x-text="get_total().toFixed(2) + ' €'" class="item-price"></span>
                </li>
            </ul>
            <div class="catalog-buttons">
                <button @click="clear_basket()">{% trans %}clear{% endtrans %}</button>
                <form method="post" action="{{ url('eboutic:command') }}">
                    {% csrf_token %}
                    <input type="submit" value="{% trans %}validate{% endtrans %}"/>
                </form>
            </div>
        </div>
        <div id="catalog">
            {% for category, items in products|groupby('category') %}
                {% if items|count > 0 %}
                    <section>
                        {# I would have wholeheartedly directly used the header element instead
                        but it has already been made messy in core/style.scss #}
                        <div class="category-header">
                            <h3>{{ category }}</h3>
                            {% if category.comment %}
                                <p>{{ category.comment }}</p>
                            {% endif %}
                        </div>
                        <div class="product-group">
                            {% for p in items %}
                                <button class="product-button"
                                        @click="add_from_catalog({{ p.id }}, '{{ p.name }}', {{ p.selling_price }})">
                                    <div class="box-header">
                                        <h5>{{ p.name }}</h5>
                                    </div>
                                    <div class="product-body">
                                        {% if p.icon %}
                                            <img src="{{ p.icon.url }}" alt="image de {{ p.product_name }}">
                                        {% else %}
                                            <img src="{{ static('core/img/na.gif') }}"
                                                 alt="image de {{ p.product_name }}">
                                        {% endif %}
                                        <span>{{ p.selling_price }} €</span>
                                    </div>
                                </button>
                            {% endfor %}
                        </div>
                    </section>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script>
        {# Variable built during rendering of the template
         used in the /core/static/eboutic/js/eboutic.js #}
        const starting_items = [{% for item in basket_items %}{
        <!-- {{ item }} -->
                'id': {{ item["product_id"] }},
                'name': "{{ item["product_name"] }}",
                'quantity': {{ item["quantity"] }},
                'unit_price': {{ item["product_unit_price"] }}
                }{% endfor %}];
    </script>
{% endblock %}
